[2014-07-22 09:33] marijang opened #1 "Static"
I get error when i use

 public function getSearch($value='')
    {
        //$users = Searchy::users('first_name', 'email', 'last_name')->query($value)->get();
        //$users = Searchy::search('users')->query($value)->get();
        $users = Searchy::search('users')->query('John Smith');
       // return Response::json($users->toArray());
    }

Non-static method TomLingham\Searchy\SearchBuilde

[2014-07-22 14:29] #1 closed, assigned to nobody

[2014-08-04 01:47] jamesbrauman opened #3 "Query with multiple terms doesn't return expected answer"
Hi,

I have a table like this:

[code]

And a single user with first_name **Robert** and last_name **King**.

When I run the statement:

[code]

I expect it to return the user called Robert King, but it doesn't.

Thanks

[2014-08-04 03:26] #3 closed, assigned to nobody

[2014-08-11 23:31] jamesbrauman opened #5 "Cannot paginate search results."
Hi,

When calling ->paginate() on the query builder returned by the Searchy package, it is throwing an SQL error.

[code]

Thanks

[2014-08-12 01:21] #5 closed, assigned to nobody

[2014-08-21 03:47] Gawdl3y opened #6 "Joins behave badly"
Joins used on the search queries don't work very well. Take this for example:
[code]
Rather than receiving an array of objects with the requested columns and their aliases, you get an array of objects with the combined columns of both tables, without their aliases, with the joined table's columns overwriting any with the same name.

[2015-01-09 03:52] Spycomb commented on #6
considering @TomLingham  said i don't recomend this , but if you still want to do that you can edit the "BaseSearchDriver.php"

change the line query method

	public function query( $searchString )
	{

		if(\Config::get('searchy::sanitize'))
			$this->searchString = $this->sanitize($searchString);

		$results = \DB::table($this->table)
			->select('*')
			->addSelect($this->buildSelectQuery( $this

[2015-01-26 13:48] ykbks opened #7 "var_dump() or print_r() causes empty page"
`$members = Searchy::members('name')->query('hussain');`
No problem, page loads.
`var_dump($members);`
page is blank! even the existing markup does not show.

Anything I'm doing wrong?

[2015-02-19 03:29] TomLingham commented on #7
Sorry for the late reply. You will need to run:

`Searchy::members('name')->query('hussain')->get();`

I'm not sure why nothing would be rendering after running a var_dump. Most likely cause is that your program is erroring somewhere and that the error are set not to output. Might want to;

- check your server logs
- turn on error reporting in php.ini [http://stackoverflow.com/questions/845021/how

[2015-06-14 23:32] #7 closed

[2015-06-14 23:37] TomLingham commented on #6
You can now select specific columns in version 2+

Thanks for your help guys :smile:

[2015-06-14 23:37] #6 closed

[2015-07-06 07:34] Rtransat commented on #5
Hi,

Sorry to reopen this issue. The pagination is still not supported ? Btw, the relationships are supported ?

Thx

[2015-07-11 09:17] TomLingham commented on #5
@Rtransat, that is ok. Sorry for not replying sooner. You can use pagination by returning the Database Query Object instead of an array of results. Take a look at the readme under "Usage" (You want to use `getQuery()` instead of `get()`). http://laravel.com/docs/master/pagination

Relationships aren't supported. If you are doing complex searches, across tables then there are more robust solutions

[2015-07-14 17:27] jackyliang opened #10 "SQLite?"
Hi there

Your description says:

    Searchy is an; easy-to-use, light-weight, MySQL only

I was wondering would this work for SQlite?

[2015-07-14 22:48] TomLingham commented on #10
Hi @jackyliang,

It's possible. I'm not entirely sure as I haven't tested it to be honest - feel free to have a go and let me know if it works! I would be happy to look into updating it to work with SQLite for version 2.1 if that is a use case you would be interested in.

Thanks for the message!

[2015-07-27 14:21] vanderlin opened #11 "composer require 1.0 branch"
unable to require 1.0 branch (not found)

[2015-07-27 14:25] vanderlin commented on #11
[code]

this will work....

[2015-07-27 14:25] #11 closed

[2015-08-06 01:11] owalerys opened #12 "Composer Minimum Stability"
I installed this repository but instead of specifying "2.*", I had to specify "2.*@dev" to meet composer's minimum stability requirements for my default installation of Laravel 5.1. I was getting an error that the package could not be found (can also be caused by minimum stability incompatibility). Is this expected?

Below is my Laravel composer.json file

    {
        "name": "laravel/laravel",

[2015-08-16 01:06] TomLingham commented on #12
Wow... I never tagged the releases! I hope I didn't cause you too many headaches. Fixed now.

Thanks for letting me know :)

[2015-08-16 01:06] #12 closed

[2015-08-22 17:45] stanwarri opened #13 "Objects not returned"
From the doc. It said the result returns an object array. However I only getting a normal array. What is the way to return an object array.

[2015-10-04 07:41] 93gaurav93 opened #14 "Multiple tables?"
How can I search through multiple tables connected with foreign keys?

[2015-10-12 17:53] kadeprice opened #15 "Search Trashed"
Is there anyway that your package can return trashed results?
By adding a flag, or indicator can the query results will return trashed items. I'm thinking something like
 app()->searchy->assets('model', 'serial', 'service_tag', 'asset_tag')->query($search)->withTrashed()->get();

The DB::table should return all results, but at some point the search results filter out the soft deleted items.

[2015-10-28 23:58] TomLingham commented on #14
Hi @93gaurav93, You can't at the moment with Searchy. It's only meant to provide a very simple interface for searching. My suggestion is to return the ID's that you need from the search results and then do your eloquent stuff with that.

[2015-10-28 23:58] #14 closed

[2015-10-29 00:01] TomLingham commented on #15
Hmm... haven't touched the code in a while so can't remember what I am doing off the top of my head that would be filtering the trashed objects. Yes, it should return them using the Query Builder ... as far as I know.

I'll take a peek at this in the next few weeks. Happy for you to submit a pull request if you'd like to see it resolved sooner. Or, if you can see where they are getting filtered ou

[2015-12-23 11:26] jbrooksuk commented on #13
Better yet, collections. This would allow results to be mapped, filtered etc without having to call `collect`.

[2015-12-23 11:27] jbrooksuk opened #17 "StyleCI"
You should look at [StyleCI](https://styleci.io) for automatic code standards fixing. We can automate the entire process of fixing, pull request and merging for you too.

[2015-12-23 11:33] TomLingham commented on #17
Great! Thanks for the heads up ... looks like something I could really use :joy:

[2015-12-23 11:33] #17 closed

[2015-12-23 11:34] jbrooksuk commented on #17
I wasn't being sarcastic or anything :)

[2015-12-23 12:01] TomLingham commented on #17
I know, it's all good. I just know that I can be a bit messy sometimes so could use something like StyleCI to keep me on my toes :+1:

[2015-12-23 12:10] jbrooksuk commented on #17
:)

[2015-12-26 02:34] chrislandeza opened #22 "Eager Loading and Query Scope"
Hi, is there a way to use queryScope or Eager load using this package?

On my User Model I have this scope:

    /**
     * Active Users.
     */
    public function scopeActive($query)
    {
        return $query->where('active', 1);
    }

Now I want to get/filter just the active user. I tried this code but it didn't work:

    $users = Searchy::users('name')->query('John Smith')->active()->get(

[2015-12-26 03:39] TomLingham commented on #22
Sorry, not really... well not nicely. Though you can get around it without too much trouble.

In your case you could go:

[code]

I haven't tested but this should do what you are after :smile:

[2015-12-26 03:41] TomLingham commented on #22
Because it uses the database query builder and not Eloquent, you will have to tackle eager loading differently. What I normally do is return the ID's of all the results using Searchy and then pass them into an eloquent query. Otherwise, no Searchy doesn't support anything as specific as that.

[2015-12-26 08:02] #10 closed

[2016-01-01 11:18] danieliancu opened #23 "Nullable fields don't work as expected"
Awesome package Tom!
Thank you very much!

Say you got the following table schema:

[code]

As you can see `col3` is allowed `NULL` values.

[code]

will give an empty array even if there are values matching query in `col1` and `col2`.

[code]

gives the appropriate results.

I did some further testing and found out that when using nullable fields for searching into, if at least one of them is `NU

[2016-01-01 11:53] TomLingham commented on #23
Thanks! I'm really glad you like it!

Thanks for submitting that. That looks very strange. It's a use case i
never considered but you are correct. I'll take a look at this in a couple
days when I'm back at it for the new year and get it all fixed up.

Thanks again :)
On 1 Jan 2016 10:18 PM, "Daniel Iancu" <notifications@github.com> wrote:

[2016-01-01 12:13] danieliancu commented on #23
Thanks for the reply.

Well, it's justified to have nullable columns for optional fields.

Happy new year!

[2016-01-05 19:25] danieliancu opened #24 "Strange syntax error"
SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'having `relevance` > ? order by `relevance` desc limit 100' at line 3 (SQL: select *, IF(name = 'admin', 100, 0) + IF(name LIKE 'admin%', 50, 0) + IF(name LIKE 'A% D% M% I% N%', 42, 0) + IF(REPLACE(name, '\.',

[2016-01-05 19:33] danieliancu commented on #24
Found the issue.

I was extending a vendor model and searching like so:

[code]

But the parent model was setting it's connection in the constructor using a config option and not defining the `$table` property, so it ended up as null.
As soon as I defined the `$table` property, it picked it up and there were no issues.

Maybe add a check or something?

[2016-01-06 07:22] TomLingham commented on #24
Thanks for updating. Good idea. I will leave this one open for the time being so I don't forget about it :)

[2016-01-06 13:27] danieliancu commented on #13
+1
Most of the time I end up mapping the objects for relationships.

[2016-01-08 00:49] chrislandeza commented on #22
yeah.. I ended up plucking the 'id' of my search result and do a manual Eloquent query.

    // search the users table
    $hits = Searchy::users('name')->query($query)->get();

    // Pluck the 'id' from the search result.
    $ids = array_pluck($hits, 'id');

    // return just the active users and eager load the roles
    $this->user->whereIn('id', $ids)->active()->with('roles')->get();

[2016-01-08 00:49] #22 closed

[2016-01-08 02:08] danieliancu opened #25 "Syntax error when searching "key" column"
SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'key = 'global', 100, 0) + IF(key LIKE 'global%', 50, 0) + IF(key LIKE 'G% L% O% ' at line 1 (SQL: select *, IF(key = 'global', 100, 0) + IF(key LIKE 'global%', 50, 0) + IF(key LIKE 'G% L% O% B% A% L%', 42, 0)

[2016-01-08 02:10] TomLingham commented on #25
Thanks, @danieliancu.

Any chance you could post a bit of your code as well?

[2016-01-08 02:10] danieliancu commented on #25
I will contribute to the package when I have some time, I think it has great potential.

[2016-01-08 02:11] danieliancu commented on #25
[code]

[2016-01-08 02:14] TomLingham commented on #25
It's possibly to do with `key` being a reserved word in MySQL and how the query is being built. I'll take a closer look at this one soon :smile:

[2016-01-08 02:16] danieliancu commented on #25
@TomLingham have you thought of adding multiple tables support? I saw a closed issue.

[2016-01-08 02:16] danieliancu commented on #25
@TomLingham thank you very much!

[2016-01-08 02:22] danieliancu commented on #25
@TomLingham it's because of the reserved keyword
This works:

[code]

and gives appropriate results.

[2016-01-08 02:22] TomLingham commented on #25
@danieliancu I have considered it but don't think I will be implementing it. If there are more advanced requirements for searching, then realistically Searchy isn't the right tool for the job. It's only really meant to be a drop in searching tool for smaller projects.

[2016-01-08 02:23] TomLingham commented on #25
Great! Thanks @danieliancu I thought that would be the case. I will fix this up in the code soon. Just have to wrap the table names and probably wouldn't hurt to have some tests to run.

[2016-01-08 02:26] danieliancu commented on #25
@TomLingham you mean the column names, right?

[2016-01-08 02:33] danieliancu commented on #25
@TomLingham what I like the most about this package, is that it's built the laravel way - easy to use and gets the job done

[2016-01-15 20:20] S3D-Jake commented on #15
I am getting all results, even soft deleted. Raw SQL confirms theres nowhere in the software filtering soft deletes. I would check how your calling it.

[2016-01-19 18:55] jakeboyles commented on #15
https://github.com/TomLingham/Laravel-Searchy/pull/26

[2016-01-20 14:13] FrostyX opened #28 "FUNCTION [dbname].ROUND does not exist"
### Issue

On my hosting I got this error:

    SQLSTATE[42000]: Syntax error or access violation: 1305 FUNCTION regfmri2.ROUND does not exist (SQL: select *, IF(CONCAT(id, ' ', first_name, ' ', last_name) = 'foo', 100, 0) + IF(CONCAT(id, ' ', first_name, ' ', last_name) LIKE 'foo%', 50, 0) + IF(CONCAT(id, ' ', first_name, ' ', last_name) LIKE 'F% O% O%', 42, 0) + IF(REPLACE(CONCAT(id, ' ', first_

[2016-01-29 08:37] jbrooksuk commented on #28
:+1:

[2016-01-31 03:41] #15 closed

[2016-01-31 03:43] TomLingham commented on #24
Wont fix.

[2016-01-31 03:43] #24 closed

[2016-01-31 03:49] #28 closed

[2016-01-31 04:12] #25 closed

[2016-01-31 05:55] TomLingham commented on #13
The docs say it returns an array of objects. I don't want to change this as this is the default data that is returned from the Laravel Database Query Object and this adding an unnecessary layer of responsibility.

Wont Fix.

[2016-01-31 05:55] #13 closed

[2016-01-31 07:30] danieliancu commented on #25
@TomLingham Thank you!

[2016-03-01 03:37] SnguonTheara opened #32 "Postgresql?"

[2016-03-01 13:40] salarAsadi commented on #23
I have the Same problem. please fix. Thanks for your lightweight library.

[2016-04-01 11:57] ranjeet21r opened #33 "Returning empty result for search with multiple column"
$results = Searchy::search('table_name')->fields(['series_name', 'feature_title'])->query('Batman')->get();

this returning empty results and

$results = Searchy::search('table_name')->fields('series_name')->query('Batman')->get();

This is working fine and returning results.

[2016-04-01 12:59] TomLingham commented on #33
Hi @ranjeet21r. Is this perhaps related to #23? What does your data look like?

[2016-04-01 14:12] ranjeet21r commented on #33
Hi @TomLingham . Ya sorry i forgot to update the issue.

I alter columns property to None. before it was set to Nullable and it starts working.

Thanks for such great pacakge. It save my lots of work. :+1:

[2016-04-15 03:17] TomLingham commented on #33
Duplicate of #23

[2016-04-15 03:17] #33 closed

[2016-04-15 03:18] AlexDubstone commented on #33
Sehr geehrte Damen und Herren,

ich befinde mich bis zum 26.04. im Urlaub und kann Ihre Anfrage nicht entgegennehmen. In dringenden Fällen erreichen Sie meinen Kollegen Herrn Ussath unter der Rufnummer 0351 / 321 317 23.

Vielen Dank und viele Grüße aus Asien
Alexander Selle

[2016-04-26 20:34] vinkla opened #35 "Return Eloquent collection"
When you do a search today an array is returned when running `get()`. Is it possible to make it return an Eloquent collection?

[2016-04-27 00:36] ArturGrigio commented on #35
This isn't a solution by any means, but after tinkering with this repo for the last 20 mins (trying to add a `->first()`) I came up with this solution. Maybe this will help you with your problem:

    $users = Searchy::users('name', 'email')->query('John Smith')->get();
    if($users) {
        $id = $users[0]->id;
        return \App\User::find($id);
    }

[2016-04-27 05:41] vinkla commented on #35
Thanks for reaching out @ArturGrigio but that would mean I've to execute multiple queries. Was hoping there would be away around that wouldn't require another query to the database.

[2016-05-05 18:19] folkevil opened #38 "Not working with L5.2"
I got this error when use Searchy with L5.2

`Call to undefined method Illuminate\Foundation\Application::bindShared() `

It's because bindShared() have been replaced with singleton(). Please update  #it. Thank you

[2016-05-06 07:55] heyhihellobro opened #39 "How to use pagination?"
For example, I'm making search like this

`$users = DB::table('users')
                ->where('name', 'like', '%' . $query . '%')
                ->paginate(6);`

Now I want to use it like:

`$users = Searchy::search('users')->fields('name', 'email')->query($query)->get();`

How to use pagination? Thanks.

[2016-05-06 08:29] #39 closed

[2016-05-06 12:10] Alexmg86 opened #40 "Not working with russian text"
Hi.
Not working with russian text, english working normal.
If i trying find something on Russian, he return all position

[2016-05-10 02:40] ycycn opened #41 "too many result, need TOP() method"
too many result, need TOP() method

[2016-05-12 14:34] mstnorris opened #42 "pull in related models"
I would like to pull in related models.

[code]

[2016-05-12 14:57] mstnorris commented on #38
I'm using it with 5.2.31 and it's working fine. Followed the setup as per the docs.

[2016-05-13 12:23] starkdigital opened #43 "Does It support Inner Join"
Hello . I want to know does this package support inner Joins ? if yes then how to use it ? As many time we face the scenario where search result coming from the different tables .

[2016-05-14 01:31] #23 closed

[2016-05-14 01:37] TomLingham commented on #38
Can't reproduce. @folkevil we already have logic in place to ensure the correct method is used.

[code]

What version of Searchy are you using?

[2016-05-14 02:04] TomLingham commented on #35
See commit 8566a0a

[2016-05-14 02:04] #35 closed

[2016-05-14 02:05] TomLingham commented on #42
Do you mean to map it to an Eloquent Model? If so, see 8566a0 and let me know if that solves your problem.

[2016-05-14 02:06] TomLingham commented on #43
Hi @starkdigital, Thanks for commenting. Unfortunately it doesn't support any joining of tables for search results. It's only a lightweight package and there are much better solutions for doing more intensive searches.

[2016-05-14 02:06] #43 closed

[2016-05-14 02:12] TomLingham commented on #41
To limit your results, you can use Laravel's built in DatabaseQuery Builder method and chain further methods to narrow your results.

[code]

[2016-05-14 02:12] #41 closed

[2016-05-14 02:14] TomLingham commented on #40
Hi @Alexmg86. Can you please send me through a sample sql file to the email address on my profile? I will see what I can do.

[2016-05-14 02:16] TomLingham commented on #32
Not at this stage. It relies pretty heavily on mysql specific stuff but I haven't had a look into if it is easily transferrable to Postgres. Happy for you to submit a pull request as I doubt I will get a chance to look at this soon.

[2016-05-14 02:16] #32 closed

[2016-05-14 08:30] TomLingham commented on #40
Thank you very much for sending through the file!

Can you please update to the latest version (2.0.11), and follow the instructions [here](https://github.com/TomLingham/Laravel-Searchy#unicode-characters-support) to change the Search Driver to the new FuzzySearchUnicodeDriver. This should hopefully fix your issue.

Please note: The FuzzySearchUnicodeDriver does not sanitize your query search befo

[2016-05-14 09:05] Alexmg86 commented on #40
Nice. Big thanks!!!

[2016-05-14 11:19] TomLingham commented on #40
Great! Thank you!

[2016-05-14 11:19] #40 closed

[2016-05-29 23:00] #42 closed

[2016-05-29 23:00] #38 closed

[2016-06-21 11:28] carbontwelve opened #45 "Search query not returning results with expected relevance score."
I don't know if this is a bug with your library or simply me not configuring it correctly but I have got searchy working and searching an index table containing content scraped from my website.

To better explain what I am doing, imagine an index table that has the following row (among many others):
[code]

I have been using `->having('relevance', '>', 20)` and if I search that table with the quer

[2016-06-21 12:58] TomLingham commented on #45
Hmm... that is unusual. If you remove the relevance limit do you get any result? If you do, what relevance score does it return?

[2016-06-21 13:36] carbontwelve commented on #45
When the relevancy filter is removed everything being returned has a relevancy of 1 or 2. I think I need to modify the weightings of the `FuzzySearchDriver` matchers and see if it helps make things more relevant as I am searching within a _index_ of sanitized body content as opposed to using this as a search for a crud interface.

[2016-06-23 11:43] TomLingham commented on #45
Yes, generally if it isn't returning what you are after I would suggest rolling your own Matcher and search driver based on the type of data that you have. Searchy is targeted at shorter strings and the type of searching you are looking for is generally very slow. A matcher similar to the following should do something closer to what you are after:

[code]
and then juts include it in your own searc

[2016-06-23 11:43] #45 closed

[2016-06-25 00:44] Kolesar opened #47 "Question: How can I use relations?"
Dear,

Searchy is amazing tool. Thanks for sharing.

I have question about using Larave-Searchy. How can I use relations or Eloquent `with` method during searcing?

[2016-06-25 21:58] Kolesar commented on #47
I have found solution with `join` methods after call `getQuery`. Unfortunately `with` is not option, but works :)

[2016-06-28 10:23] sevenpointsix commented on #47
@Kolesar Could you possibly post an example of your solution?

[2016-06-29 15:06] sevenpointsix commented on #47
To answer my own question above, this appears to work. Here, I'm searching through a table of products, where each product can have a matching record in the "brands" table (joined by products.brand_id), and identifying a match against either the product title or brand title for the word 'test':

    Searchy::products('products.title','brands.title')
        ->select('products.*')
        ->query('

[2016-06-29 16:05] Kolesar commented on #47
Yes, I use like that! And I detect that does not support for pagination :(, but, with little trick I really hope so it will work with your suggestion in documentation.

[2016-07-03 04:55] TomLingham commented on #47
I don't have any intentions to support relations directly using searchy. It already exposes the Laravel builder object and building that functionality into Searchy would just be doubling up - and I doubt I could do as good of a job as Taylor in that case.  I will leave this open incase others are looking for this as I have answered this a few times 😄

[2016-07-11 04:45] skylerkatz opened #49 "Using Searchy with non default DB Connection"
I am a huge fan of the package, and was wondering if it would be possible to override the default database connection that searchy uses.  If there is not currently this functionality, I would be interested in contributing that type of functionality, but do not know exactly where in your package that type of configuration would go.

Thanks for what you are doing for the Laravel Community!

[2016-07-11 05:15] skylerkatz commented on #49
Realized I could do 'connection.tablename'.

[2016-07-12 14:48] Alexmg86 opened #50 "many query"
Hi!
how i can use many query?
for example i wonna find all skills where have word indesign and photoshop :)
Searchy::driver('ufuzzy')->skills('name')->query('indesign', 'photoshop')->get();

[2016-07-13 00:12] TomLingham commented on #50
Searchy is targeted at user driven searches. If you are passing multiple values I assume you are probably doing the searching from an application driven perspective.

If that is the case, probably using eloquents API or the database query builder API would be better suited. You can add multiple where / like clauses. https://laravel.com/docs/5.1/queries#where-clauses

[2016-07-14 10:42] Alexmg86 commented on #50
Hi! No, it's big problem for me (( Because i need driven searches...
My first question was for clarity.
In the real work i'm try find something like this "des", "tosh" :)

[2016-08-06 00:40] ankhuve opened #51 "Pagination of results"
Hey!

Just installed Searchy and the searching itself works great. However, I'm wondering if it's possible to paginate the results?

I'm comparing it to using the Query Builder and paginating the results as such:

[code]

I would love to do the same thing, something like this:

[code]

Am I missing something obvious to make this work, or is this just something I'll have to dream of? :smile:

[2016-08-06 13:38] ankhuve commented on #51
Allright, I read through the old issues and solved the pagination by doing this:

        $jobMatches = Searchy::search('jobs')
            ->fields('title', 'description')
            ->query($searchQuery)
            ->getQuery()
            ->having('relevance', '>', 10)
            ->skip($rowsToSkip)
            ->take($numPerPage)
            ->get();

Maybe someone with the same problem mig

[2016-08-29 13:00] TomLingham commented on #51
Great! Thanks. Leaving this one open for reference as it's been asked a few time 😄

[2016-08-29 13:01] TomLingham commented on #50
Are you still having the issue you mentioned above? I've been out of action for a while so I apologise for not responding, but it was unavoidable 😄

[2016-08-30 06:37] Alexmg86 commented on #50
Sorry, it's still not working ((

[2016-08-30 09:47] Sennik opened #53 "Searchy is using table name instead of model name?"
Searchy::**users**('name', 'email')->query('John Smith')->get();

I expect users in this example to be a modelname but instead it is the table name. Why not use the modelname and take advantage of the model's configuration?

[2016-08-30 09:52] TomLingham commented on #53
Searchy searches tables in your MySQL Database using SQL queries, not using models so wouldn't make sense to use the model name. You can, however, pass an eloquent model through to the search method:

[code]

But Searchy is simply pulling the table name from the model anyway so it's up to you if you think that makes sense or not.

[2016-09-04 02:10] TomLingham commented on #50
Ok, so there is probably a good use case for this, but I haven't got time at the moment to write an extra search driver. I imagine it would be used something like:

[code]

Where you would pass an array to the query method. I might have some more time in a month or so but at the moment I'll have to leave this open for a PR and hopefully in the meantime someone will pick it up. Keep in mind, while

[2016-09-04 02:25] #53 closed

[2016-09-16 15:54] sml2h3 commented on #51
Great!I have the same issues just now

[2016-09-16 16:06] sml2h3 commented on #51
Searchy::qtn('title', 'name')
->query('d')
->getQuery()
->simplePaginate(2);

[2016-09-25 19:08] skylerkatz commented on #49
It seems that after upgrading to Laravel 5.3 using the `connection.tablename` syntax no longer works.  In looking at the Laravel 5.3 upgrade guide, I do not believe there are any changes to the connection manager that would be causing this to stop working.  Any ideas on your end would be appreciated.

Thanks

[2016-09-28 21:19] zwl1619 opened #54 "Class name must be a valid object or a string"
My Laravel is `5.3`,I use `ufuzzy`,

[code]

error:

[code]

And,I use `fuzzy`,
error:

[code]

[2016-09-28 21:24] TomLingham commented on #54
Awesome. thanks for letting me know :smile:

Can youp please paste your entire searchy config file?

[2016-09-28 21:34] zwl1619 commented on #54
Is config file `searchy.php`?
[code]

[2016-09-28 21:42] TomLingham commented on #54
Thanks! Looks like you might either be using an older version of Searchy, or you published the config file before the ufuzzy driver was added. Make sure you are using the latest version of Searchy (2.12), and add the ufuzzy driver to your configuration like below:

[code]

[2016-09-28 23:51] TomLingham commented on #54
I also haven't got time to troubleshoot the issue with the default fuzzy driver in laravel 5.3. If anyone can send through a PR I'll merge it in.

[2016-10-10 17:14] Rezakhaan opened #55 "use searchy on query object"
first I do:
 $query = Searchy::search('advertisements');
            $query= $query->fields('title')->query(Input::get('title'))
                ->getQuery()->having('relevance', '>', 50);

again after this I need to do another query with searchy on $query which I have made before,
How can I do this,plz help :(

[2016-10-10 22:21] TomLingham commented on #55
Hmmm... That's actually a bit difficult. The best way I can think of doing it without some code in front of me is by grabbing the IDs of all the results from the previous query and passing them through in another `->having()` method call after get query on your second query. This will find all the results matching your second search and then filter out the ones that weren't returned in your previo

[2016-10-12 16:59] Rezakhaan commented on #55
it's a fantastic idea
could you please give me an example ?
I just try to do this but I face errors.

[2016-11-02 14:33] krisscox opened #56 "SQLSTATE[42000]: Syntax error or access violation: 1463 Non-grouping field 'relevance' is used in HAVING clause"
This happens in Laravel 5.3, and has happened both for the default search driver and levenshtein.

It would appear to be down to L 5.3 having "strict" mode set to true in the config/database.php file, under the MYSQL connection setting.

Unsure about a way round this, as my MYSQL isn't amazingly strong, but I've bypassed it for the moment by making that value false.

Hope this can help someone els

[2016-11-04 08:32] iusky commented on #56
Me too。。。。 Help！

[2016-11-04 08:42] TomLingham commented on #56
Hi guys. Thanks for letting me know. I don't use php or this package much
anymore so I appreciate you letting me know. I will look at it this weekend
unless you want to submit a PR. But until then, sit tight, I'll have time
to look at it this weekend :)

On Fri., 4 Nov. 2016, 7:32 pm iiusky, <notifications@github.com> wrote:

[2016-11-05 06:49] #55 closed

[2016-11-05 06:49] #54 closed

[2016-11-05 07:01] TomLingham commented on #56
Any chance you could please send through some code @krisscox? The Searchy bit should be I all I need to go off 😄

[2016-11-08 05:08] iusky opened #58 "help me"
/Search?keywords=%27%27%27

[code]

This is how to do?

[2016-11-08 05:23] iusky commented on #58
$datas = Searchy::driver('simple')->article('title','body')->query($keyword)->get();

[2016-11-09 02:17] TomLingham commented on #58
Hi @iusky, can you send me a sample of data from your database? And also, can you let me know what `$keyword` is in this instance? I will take a look and see what I can do :smile:

[2016-11-16 00:03] TomLingham commented on #58
Closing due to no response. Please open a new issue if there is still a problem :smile:

[2016-11-16 00:03] #58 closed

[2016-11-16 00:04] TomLingham commented on #56
Closing due to no response. Please open a new issue if you are still having issues :smile:

[2016-11-16 00:04] #56 closed

[2016-11-17 07:11] iusky opened #59 "bug"
If the input keyword is '
 will be an error
As long as the input keyword to 'or all' will be error.

[2016-11-21 19:03] MrSnoozles commented on #56
You can disable strict mode in config/database.php to resolve the error.

[2016-11-22 16:43] mmjjb opened #60 "SQLSTATE[42000]: Syntax error or access violation"
**Query:**
Searchy::search('categories')->fields('title')->query($keyword)->getQuery()->limit(3)->get();

**Result**

SQLSTATE[42000]: Syntax error or access violation: 1463 Non-grouping field 'relevance' is used in HAVING clause (SQL: select *, IF(COALESCE(`title`, '') = 'keyword', 100, 0) + IF(COALESCE(`title`, '') LIKE 'keyword%', 50, 0) + IF(COALESCE(`title`, '') LIKE 'K% E% Y% W% O% R% D%', 4

[2016-11-24 12:28] TomLingham commented on #59
Can you please provide a little more information about what the issue is? A repo with reproducing code would be very useful?

[2016-11-24 12:29] TomLingham commented on #60
Hi, until I get a chance to look at this a little closer, you can try disabling strict mode in config/database.php to resolve the error. This isn't the best solution but until I have time to fix or someone submits a PR this will get you out of trouble 😄

[2016-11-26 14:13] iusky commented on #59
You can try, 'into the query

[2016-11-27 19:24] zwl1619 opened #62 "Non-grouping field 'relevance' is used in HAVING clause""
I am using Laravel `5.3`.
I have disabled strict mode.
[code]
**Query:**
[code]
**Result:**
[code]

[2016-12-21 10:36] TomLingham commented on #59
This PR should have fixed your issue :) https://github.com/TomLingham/Laravel-Searchy/pull/63

[2016-12-21 10:36] #59 closed

[2017-01-02 11:37] ak688744 opened #65 "get selected columns"
Hi,
Is there any way in which we can get selected columns rather than the whole row, I tried using get(['id', 'name']) but it's not working.

[2017-01-13 08:17] MartinVandersteen commented on #65
Have you tried select() ?

[2017-01-27 06:54] Kolesar commented on #65
You can try with:

[code]

[2017-01-27 06:56] Kolesar opened #68 "Value of relevance"
Hi,

What is the scope of relevance value? I want to make a slider in my search form between 'retrieval' and 'precision', but I do not know scope of the relevance value :/

[2017-01-27 07:02] Kolesar commented on #51
I have many relations, so when searching I returned only ID, and after using 'standard' query with `whereIn('id', ...)`

I know it is slow, but I in this case pagination works, relations works, ... because I get standard Eloquent object

[2017-02-18 10:23] fede91it opened #70 "Filter table rows before search"
Hello,

I have a big table containing geocoded items that I filter for a radius of distance from a latitude and longitude coordinates (ex. to match items near 10 km from coordinates). After that I need to order the results by relevance to a given search keyword and is for that I use Searchy with a lot of satisfaction, but I have a limitation that represents for me a big performance weak.

[code]

[2017-02-19 23:08] TomLingham commented on #70
Hi @fede91it thanks for the feedback. Unfortunately Searchy is more of a stop gap and I don't want people to use it where it's so easy to use a more appropriate search and indexing solution. Algolia or Cloudsearch are two great examples.

Ive been meaning to update the readme with my intentions for Searchy moving forward but have been quite time poor.

I do intend to maintain it but don't thing I

[2017-03-24 11:06] dejury commented on #62
I had the same issue. Changed the strict to false, and it was still not working.

After doing:
`php artisan config:clear `

It worked fine for me. Maybe this is the issue?

[2017-04-18 19:12] TheRealJAG commented on #14
Would be nice to be able to search multiple tables. For instance get all the books or authors LIKE %jon%

[2017-05-03 11:51] TomLingham commented on #68
Hi Kolesar. The value can be between 0 and any positive number with the default drivers. If you wanted to have a maximum value you would have to determine the highest value for your search results and use that value - which could of course change.

[2017-05-03 11:51] #68 closed

[2017-05-03 11:52] TomLingham commented on #65
@ak688744 `->select()` is the way to go 😄

[2017-05-03 11:52] #65 closed

[2017-05-03 11:57] TomLingham commented on #49
@skylerkatz is this still a problem for you?

[2017-05-03 11:58] TomLingham commented on #47
Closing now as I think people have got the point 😄

[2017-05-03 11:58] #47 closed

[2017-05-03 11:58] #70 closed

[2017-05-03 11:59] TomLingham commented on #62
Duplicate of #60

[2017-05-03 11:59] #62 closed

[2017-05-06 12:40] #49 closed

[2017-05-14 18:29] leo-coco opened #71 "Class 'Searchy' not found"
I followed the instruction to install this package but I can't make it works. I'm using Laravel 5.4

I'd like to use it in my RegisterController.php

[code]

I got the error `Class 'Searchy' not found`

[2017-05-14 18:47] kumarrishikesh12 commented on #71
use TomLingham\Searchy\SearchBuilder; .. Use this ...

[2017-05-14 18:59] leo-coco commented on #71
Here is what I got : Class 'App\Http\Controllers\Auth\Searchy' not found

[2017-05-14 19:04] #71 closed

[2017-05-27 08:27] yiluohan1234 commented on #60
This is probably a SQL_MODE problem. In your config/database.php, in the connection, change config/database.php
strict => false

[2017-05-29 04:57] dishcheng opened #72 "Dose it support orderBy？？"
Just like Searchy：........->orderBy("","desc")?

[2017-07-11 15:03] trmccormick opened #74 "Searching multiple keywords"
Maybe I'm missing something but is it possible to have multiple keyword search using Searchy?

[2017-07-15 09:57] TomLingham commented on #74
If you're referring to passing multiple arguments to the `->query()` method, then unfortunately no. If you are using Searchy for something other than user driven search queries then it's probably not going to work quite as you expect. Can you give me more information about how you are using Search? I will try and help out if I can 😄

[2017-07-17 02:01] trmccormick commented on #74
We have over a million records in the sample data we were given and need to search across all the fields. So we created a search index field so we can search all the data since passing all the fields were taking several minutes to search. The main issue is If I search for "john doe" I get no results if I search for just "john" then I do get results it seems the search doesn't like multiple keyword

[2017-07-18 06:41] TomLingham commented on #74
It does support searching for multiple words inside a single fields. It also allows for concatenating specific fields in certain scenarios. See https://github.com/TomLingham/Laravel-Searchy#searching-joinedconcatenated-columns

If that still doesn't answer your question, some code would be helpful for troubleshooting.

[2017-07-18 07:28] jourdon opened #76 "Class name must be a valid object or a string?"
my version is 5.1  Can I use it?
SearchBuilder.php 104 line has an error
Class name must be a valid object or a string

SearchyServiceProvider.php
use Laravel\Lumen\Application as LumenApplication;
laravel not lumen

[2017-07-20 13:15] covert8 opened #77 "Docs hydrate"
Hi there,

First and foremost thanks for all the good word, simply splendid stuff.

I was looking at the documentation and saw that the recommendation for the use of hydrate. however I got strange errors because of the way searchy returns the data. What I believe is that you return a kind of object instead of regular json, thus requirering a toArray() afther the get().

Is this indeed true and if

[2017-08-22 06:16] sbasi5576 opened #81 "How to use it with DB:table"
Can you please post instructions on how to use it with DB:table?

[2017-08-22 23:50] TomLingham commented on #81
Can you elaborate a little on what you mean? You can pass it a table name as a string, if that is what you are referring too.

[2017-08-22 23:50] TomLingham commented on #81
A code sample would be very helpful :)

[2017-10-01 15:56] roxik opened #82 "Error when use using quotes"
Error when use using quotes.

`SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '% R% E% D%', 42, 0)  ... `

[code]

check ConsecutiveCharactersUnicodeMatcher plz

[2017-10-24 12:23] EyobDejene opened #83 "Use paginate"
Im getting a error when im using paginate when i do this:
Is there a solution ?

**Error im getting:**
<img width="975" alt="screen shot 2017-10-24 at 14 20 41" src="https://user-images.githubusercontent.com/10126423/31942785-cb9d2428-b8c6-11e7-9a7d-c97e19fa49a4.png">
-------------------------

  $data = shoe::hydrate(Searchy::search('shoe')
                ->fields('brand','type','information','s

[2017-11-01 05:53] jason3w commented on #60
We are having this same issue. Any resolution in the pipeline?
Thanks

[2017-11-01 14:04] #83 closed

[2017-11-02 11:10] TomLingham commented on #60
Hi, did you try disabling strict mode? Did that work for you?

[2017-11-02 11:16] jason3w commented on #60
Hey Tom,
Yep did try that and it works but has many potential downsides. :(
Otherwise, your script looks amazing. Is it something solvable you think?

[2017-11-29 20:13] trmccormick commented on #74
I was able to solve this another way thanks.

[2017-11-29 20:13] #74 closed

[2017-12-29 14:42] EyobDejene opened #84 "orderby not working"
How can i use orderby?
Its not working in this code

[code]

[2018-01-01 23:14] TomLingham commented on #84
Hi, can you please comment with the error you are getting (if any)?

[2018-01-02 10:31] EyobDejene commented on #84
Im not getting a error, but the orderby is not filtering maybe it is the combination “having”?

[2018-01-02 12:31] TomLingham commented on #84
The reason it's not working in this scenario, is because Searchy assumes that you want the results in the order of "best match first". Any ordering is going to have to be done in PHP space after fetching the collection using Searchy.

Something like [`Collection::sortBy()`](https://laravel.com/docs/5.5/collections#method-sortby) should probably do the trick.

[2018-01-02 14:07] EyobDejene commented on #84
Thanks! it works perfectly now

[2018-01-02 23:04] #84 closed

[2018-01-02 23:06] TomLingham commented on #82
As mentioned in the README
[code]

[2018-01-02 23:06] #82 closed

[2018-01-09 17:44] mazyvan opened #85 "Proposal: option to remove the relevance fieldName"
I know it is posible to rename the field, but i would like to have an option on the configuration to remove it after the query, because I'm querying the database with different texts and I realize I can not use
`->query($text1)->query($text2)`
because is like querying the query and what I want is a join.
So I'm trying to use `array_unique(array_merge($workers, $moreWorkers), SORT_REGULAR);`

[2018-01-09 17:51] mazyvan commented on #50
@TomLingham can you please explain that? the Laravel Scout, how can we use your package with it? thanks

[2018-01-09 22:22] TomLingham commented on #50
@mazyvan, Laravel Scout shouldn't be used with Searchy. If you read a little through the documentation that I linked above, a great way to get started is using Algolia which should be fairly trivial to integrate.

[2018-01-09 22:24] TomLingham commented on #85
Can you filter it out after making the query? Will that solve your problem?

[2018-03-17 10:11] gags88 commented on #51
@ankhuve You can also use `limit` instead of `take`

[2018-03-17 10:11] gags88 commented on #51
@sml2h3 ... only simplePaginate works.. however, it would be wonderful if `paginate` method also works

[2018-03-22 08:18] johnef opened #86 "Search with translations in another table"
Hi I am using this package [Laravel Translation](https://github.com/dimsav/laravel-translatable ) How to get it working with this package this Laravel Translation package has function called `whereTranslation` but here how to use it with something like
`$products = Searchy::search('products')->fields('name', 'tags')->query($search)->get();` which name and tags is another table.

Thanks

[2018-04-15 22:30] #85 closed

[2018-04-15 22:32] TomLingham commented on #60
Recommended fix is to run in strict mode due to how the package works. It would have to be rewritten (Probably with a lot more complexity) to get around this.

[2018-04-15 22:32] #60 closed

[2018-04-29 19:49] kevosomi commented on #60
Disabling strict mode worked for me. What are the downsides to it though?

[2018-05-09 09:29] ovac opened #88 "Authenticated User Data"
Can an authenticated user search for only records related to him/her directly?

[2018-05-13 22:10] TomLingham commented on #88
This functionality isn't available out of the box. You will need to filter your Search results by using `array_filter()` or something like that to include only the results that you want.

[2018-05-13 22:10] #88 closed

[2018-05-28 14:02] ankit20893 opened #89 "SQLSTATE[42000]: Syntax error or access violation: 1463 Non-grouping field 'relevance' is"
SQLSTATE[42000]: Syntax error or access violation: 1463 Non-grouping field 'relevance' is

[2018-06-02 23:10] IslamEso commented on #89
As a temporary solution:

Check in the config/database.php file in the mysql conection that the strict is false:

`'strict' => false,`

If is true, put in false.

-----
Copied from : https://stackoverflow.com/a/39449233

[2018-07-19 08:51] rainerkent opened #90 "Searching joined/concatenated columns fails when a field is null"
I have this code
[code]
The `middle_name` column is nullable.

It only returns the matched records where `middle_name` is not null.

I am omitting the `middle_name` column in fields for now. Is there any workaround for this?

[2018-07-22 13:52] david-knigge opened #91 "Searchy returns Illuminate/Collection, not array?"
`var_dump(Searchy::users('name', 'email')->query(...)->get());`

Returns the following

`object(Illuminate\Support\Collection)#250 (1) {
  ["items":protected]=>
  array(3) {
...
`

Of course it's easily fixed by:

`Searchy::users('name', 'email')->query(...)->get()->toArray()`

But this seems unintended behaviour given the documentation.

Laravel 5.6, Searchy 2.0

[2018-10-05 14:48] damms005 commented on #60
@kevosomi  check why here: https://stackoverflow.com/questions/39053335/laravel-5-3-syntax-error-or-access-violation-1463-non-grouping-field-distance#comment76376503_39449233

[2018-11-04 00:47] TomLingham commented on #91
Ah, yes. You are correct, however the documentation is incorrect. It is returning an Illuminate collection. I'll update. Thank you.

[2018-11-22 15:45] mugwag opened #93 "Handling special Characters"
Searchy is working great, but spaces and hypens seem to confuse it. As with Google, these can often be ignored. But with Searchy, lets say I search for my name "mugwag" will come up first in a list, but " mugwag" (note the space) will yield 0 results. Same for hypens - "rx500" will find a record called rx-500, but "rx 500" won't.
Is there an option to ignore special characters?

[2019-01-24 16:38] ShayanSolution opened #95 "levenshtein drive keeps processing and does not bring result"
Hi

I have used levenshtein driver. As soon as i use it my CPU consumption goes to 100% and it keeps processing and not bring back any result. I have already created levenshtein function from res folder.

Platform: Windows 10
Tool: WAMP
MySQL: 5.7.19
PHP: 5.6
Laravel: 5.1

[2019-02-20 20:06] austinwitherspoon opened #96 "Can't return multiple specific columns"
If I use a string in a query like
`$users = Searchy::users('first_name::last_name')->select('first_name')->query('John Smith')->get();`

it works fine, but if I change that to an array like
`$users = Searchy::users('first_name::last_name')->select(['first_name', 'last_name'])->query('John Smith')->get();`

it fails, telling me the function expected a string, not an array.

[2019-03-26 07:20] jonathan-bird opened #97 "Very slow query causing 400% slow down of results"
There is a bit of code here that's very slow due to the fact you're calling get column listing which takes approx 300ms just to get that result: https://github.com/TomLingham/Laravel-Searchy/blob/master/src/SearchDrivers/BaseSearchDriver.php#L123

The query without this I can get down to <50ms but with this, you're slowing it down to almost 400ms on average, which on a big loop, is very expensive

[2019-04-11 08:43] HunterXuan opened #98 "LevenshteinMatcher calculates distance not relevance"
Hi, it seems that the levenshtein method in LevenshteinMatcher calculates distance not relevance.
For example, given two strings, the score returned by levenshtein is zero when they are the same.

[2019-08-20 17:42] alphametric opened #99 "Laravel 6 Support"
The package needs to be updated to allow for Laravel v6 support (specifically because of composer dependencies)

[2019-08-21 12:50] alphametric commented on #99
See PR #100

[2019-10-10 20:23] FutureFutureTo opened #103 "SQLite Testing Environment"
Does this package work w/ a sqlite testing environment?

I'm getting the following error when using 'TEST' as the query string:

[code]

The query in my controller is as follows:
[code]

[2019-10-20 00:31] TomLingham commented on #103
Unfortunately, this package only works with a MySQL database. It uses MySQL specific features to calculate match relevance.

[2019-10-20 00:31] #103 closed

[2019-12-06 19:34] keliix06 opened #104 "Searching against provided words individually"
I'm using this to search against a list of city names, where people can have all kinds of problems, especially with things like "st." and "saint" in the names. I put together this matcher class for anyone show needs to be able to do the same.

[code]

[2020-01-05 10:44] necenzurat opened #106 "Is this project still maintained?"
Yea, was wondering if is this project is still maintained.
Cheers.

[2020-01-06 06:37] TomLingham commented on #106
Not actively. I would probably accept PR's but there are no tests cases to confirm them and I don't really participate in the PHP community any more (haven't used it actively for 2-3) and thus don't have an environment set up.

[2020-01-06 06:37] #106 closed

[2020-01-06 06:41] TomLingham commented on #104
Thanks! Feel free to fork and include your change 👍

[2020-01-06 06:41] #104 closed

[2020-01-06 06:44] TomLingham commented on #99
I would take a PR with some tests, but I don't have any easy way of confirming this works. It appears others have moved on to various forks so may no longer be relevant.

[2020-01-06 06:44] #99 closed

[2020-01-06 06:45] TomLingham commented on #98
You're very right. It was only experimental and never really supported though, so It's highly unlikely this will be changed.

[2020-01-06 06:45] #98 closed

[2020-01-06 06:46] TomLingham commented on #51
There are technical limitations that meant this can't easily be improved inside the library without blowing it out of it's original scope which is something that I don't want to do.

[2020-01-06 06:46] #51 closed

[2020-01-06 06:48] TomLingham commented on #72
This could be supported by using `getQuery()` to fetch the query builder and then using the `orderBy` order `orderByRaw` methods that are available on the query builder objects https://laravel.com/docs/5.8/queries#ordering-grouping-limit-and-offset

[2020-01-06 06:48] #72 closed

[2020-01-06 06:50] #76 closed

[2020-01-06 15:32] necenzurat commented on #106
well can yo at least make it Laravel 6.0 compatible?

[2020-01-06 22:25] TomLingham commented on #106
I've updated the composer.json and cut a new release (2.0.19)

Again, I'm not actually sure this works - I don't have the time to confirm the change but happy to take PR's if there is more work involved. Thanks for the interest in the 6.0 support.

[2020-01-06 23:16] TomLingham commented on #95
It's only experimental and unfortunately is extremely taxing on resources and not able to be optimised within the scope of this project. I'd recommend using a service such as Algolio.

[2020-01-06 23:16] #95 closed

[2020-01-06 23:18] TomLingham commented on #93
Unfortunately this isn't trivial but a matcher class could be created. I would accept a PR for the appropriate matcher.

[2020-01-15 15:18] pendledt commented on #96
I think it requires comma separated values e.g.

`$users = Searchy::users('first_name::last_name')->select('first_name', 'last_name')->query('John Smith')->get();`

[2020-02-17 01:43] roberts91 opened #107 "Full hits on string is not included in result with the Levenshtein-driver"
Hello
First of all - thank you for creating this package. It's a really good addition to Laravel.
I found an issue with the Levenshtein-driver, but keep in mind that I might be mistaken. It might still be worth looking into.

The problem is - when you use the Levenshtein-driver - that the matches that has 0 in "distance" from the search string is not included in the query. This is due to the follo

[2020-03-04 14:19] SapneshNaik opened #108 "How to also include a related model in the result?"
I'm trying to use `with()` without any success.

[code]

How can I fetch a related model?

[2020-03-08 17:39] SapneshNaik opened #109 "Support for Laravel 7?"
I'm not able to install this package in Laravel 7. any help?

[2020-03-26 15:21] syscoch commented on #90
Hello,
we had the same issue. We adapted the library by using CONCAT_WS instead of CONCAT

Before :
$query[] = $this->buildSelectCriteria("CONCAT({$concatString})");

After:
$query[] = $this->buildSelectCriteria("**CONCAT_WS**('',{$concatString})");

In laravel, it's in file BaseSearchDriver.php

I know it's late but maybe it helps someone.

Have a great day.

[2020-04-29 21:23] qerim commented on #108
@SapneshNaik you can use [hydrate](https://laravel.com/api/5.8/Illuminate/Database/Eloquent/Builder.html#method_hydrate) to turn array items into a Eloquent Model collection:

    $value = $request->input('value');

    $users_arr = Searchy::users('login_id', 'alternate_phone_number')
         ->select('id',
                'login_id',
                'alternate_phone_number')
        ->query($val

[2020-05-06 13:51] damms005 commented on #109
For anyone having this issue still, you can temporarily edit your `composer.json` file to use the [fork](https://github.com/damms005/Laravel-Searchy/tree/laravel-7-support) I created.

I have also [submitted a PR](https://github.com/TomLingham/Laravel-Searchy/pull/112) that simply bumps `illuminate/support` dependency to the version required by Laravel 7.

[2020-05-08 10:28] TomLingham commented on #109
closed by #110

[2020-05-08 10:28] #109 closed

[2020-05-11 17:04] #108 closed

[2020-09-10 23:14] sam-woodridge opened #113 "Laravel 8.x support"
It would be great to have support for Laravel 8 and above. Right now, it only supports up to Laravel 7.x.

[2020-09-19 10:02] AlexGodbehere opened #114 "Could not load package tom-lingham/searchy in http://repo.packagist.org: [UnexpectedValueException] Could not parse version constraint ^7.*: Invalid version string "^7.*""
When trying to install this package with `composer require tom-lingham/searchy ^2.0` I'm getting the following error. Is this an issue with the package? I'm running Laravel 7.

[code]

[2020-09-21 21:09] tanmuhittin commented on #114
Just update the composer version from 1.10.11

Ref : https://stackoverflow.com/questions/63801165/composer-could-not-load-package-invalid-version-string

[2020-09-21 21:11] AlexGodbehere commented on #114
This solved it, thanks!

[2020-09-21 21:11] #114 closed

[2020-09-28 10:15] fri3ndly opened #116 "Could not load package tom-lingham/searchy in http://repo.packagist.org: [UnexpectedValueException] Could not parse version constraint ^7.*: Invalid version string "^7.*""
I keep receiving this error when trying to run 'composer update' to update other packages and can't pinpoint what is causing it:

[code]

I read somewhere about zsh using ^7 as a command but i've searched through and cannot find any raw use of ^7 that isn't inside a string - it's something to do with this package or it's dependencies though as removing the search dependency fixes things.

I've tri

[2020-09-29 12:48] Antonides commented on #116
Same problem here. Laravel 5.8

[2020-09-30 12:20] tocw86 commented on #116
Same problem on 5.5.49

[2020-09-30 13:12] tocw86 commented on #116
I dealt with the update problem by moving the package from the vendor folder to packages in the root of the project.
My composer json file:
[code]
Then remove vendor folder, composer.lock and  "tom-lingham/searchy" from composer.json.
[code]
voilà

[2020-10-01 06:56] vlahde commented on #116
Same problem here. Laravel 6.0

[2020-10-03 22:11] DanielRTRD commented on #116
Same problem on Laravel 6.0 :(

[2020-10-11 08:07] TomLingham opened #117 "Future of Laravel Searchy"
TL;DR I'm no longer maintaining this package but will help support a transition.

So, it's been a while since I've been able to give any substantial focus to this project. I understand a lot of people still use and rely on this package and I appreciate your enthusiasm for what was supposed to originally be just a hack. While I don't have the time or the desire to update and maintain this I would l

[2020-10-11 08:12] TomLingham commented on #116
Please see https://github.com/TomLingham/Laravel-Searchy/issues/117

[2020-10-11 08:12] #116 closed

[2020-10-11 08:13] TomLingham commented on #113
Please see https://github.com/TomLingham/Laravel-Searchy/issues/117

[2020-10-11 08:13] #113 closed

[2020-10-11 08:13] TomLingham commented on #107
Please see Please see https://github.com/TomLingham/Laravel-Searchy/issues/117

[2020-10-11 08:13] #107 closed

[2020-10-11 08:13] TomLingham commented on #97
Please see https://github.com/TomLingham/Laravel-Searchy/issues/117

[2020-10-11 08:13] #97 closed

[2020-10-11 08:13] TomLingham commented on #96
Please see https://github.com/TomLingham/Laravel-Searchy/issues/117

[2020-10-11 08:13] #96 closed

[2020-10-11 08:14] TomLingham commented on #93
Please see https://github.com/TomLingham/Laravel-Searchy/issues/117

[2020-10-11 08:14] #93 closed

[2020-10-11 08:14] TomLingham commented on #91
Please see https://github.com/TomLingham/Laravel-Searchy/issues/117

[2020-10-11 08:14] #91 closed

[2020-10-11 08:14] TomLingham commented on #90
Please see https://github.com/TomLingham/Laravel-Searchy/issues/117

[2020-10-11 08:14] #90 closed

[2020-10-11 08:14] TomLingham commented on #89
Please see https://github.com/TomLingham/Laravel-Searchy/issues/117

[2020-10-11 08:14] #89 closed

[2020-10-11 08:14] TomLingham commented on #86
Please see https://github.com/TomLingham/Laravel-Searchy/issues/117

[2020-10-11 08:14] #86 closed

[2020-10-11 08:14] TomLingham commented on #77
Please see https://github.com/TomLingham/Laravel-Searchy/issues/117

[2020-10-11 08:14] #77 closed

[2021-01-23 07:44] necenzurat commented on #117
It would be nice of you to give make the repo public available on an organisation and let other maintain it.
Looking for similar alternatives.

[2022-05-02 02:03] todayqq commented on #117
https://github.com/todayqq/Laravel-Searchy

Support PHP 8.0 version